
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
}

/* here we add poppins font using font face  */

@font-face {
  font-family: Poppins;
  src: url("Fonts/Poppins.ttf");
}

body{
    overflow-x: hidden;
}


.navbar {
    height: 13vh;
    width: 100vw;
    box-shadow: 0 0 0.3vw black;
    background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .navtext {
    color: black;
    padding-left: 7vw;
    font-family:Outfit;
    font-size: 1.3rem;
    font-family: poppins,sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .navtext:hover {
      color:rgb(255,124,3);
  
    font-size: 1.4rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding-right: 1.5vw;
    flex-wrap: wrap;
  }
  
  
  .navlinks ul a {
    font-family: poppins,sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0 2.5vw;
    color: black;
    font-weight: 500;
  }
  
  .navlinks ul a:hover {
    color: rgb(18, 18, 62);
  
    font-size: 1.3rem;
  }
  
  
  .sidebar{
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 15.3rem;
      z-index: 999;
      background-color: rgba(255, 255, 255, 0.517);
      backdrop-filter: blur(0.7rem);
  box-shadow: 0 0 1rem black;
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
      
  }
  
  .sidebar li{
      width: 100%;
line-height: 2rem;  
  }
  
  .sidebar a{
      width: 100%;
  }
  

  .navclosesvg{
    margin-left: 15vw;
    margin-top: 3vh;
}

  

.contact_container{
  height: 99.7vh;
  width: 99.9vw;
  box-sizing: border-box;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    
  box-shadow: 0 0 0.4vw black;      
  overflow:hidden;
} 

.contactheading{
  font-size: 3.5rem;
  font-family:poppins;
  font-weight:700;
  text-align: center;
  margin-top: 5vh;
  color: white;
  text-shadow: 0.2rem 0.2rem blue;
}

.form_container{
  height: 65vh;
  width: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  margin-top: 7vh;
  border-radius: 1rem;
  margin-left: 17vw;
  box-shadow: 0 0 0.2rem black;
  
}

.contact_image img{
  height: 45vh;
  margin-left: 6vw;
  
}


.contactform pre{
  font-family: poppins,sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: blue;
  font-size: 1.5rem;
  margin-bottom: 5vh;
  margin-left:4vw;
  font-weight: 700;
  
}


form{
  width:45vw;
  margin-left:9vw;
  margin-top: 5vh;
      
}

input, textarea {
  width: 50%;
  padding:1vw;
  margin-bottom: 2vh;
  border: 0.1rem solid black;
  border-radius: 0.1rem;
  
}

::placeholder{
  color: rgb(18, 18, 62);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,sans-serif,cursive;
  font-family: poppins;
  font-size: 1rem;
  
}

.sendbtn .submitbtn {
  width: 16%;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.1rem;
  font-family: poppins,sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius:0.5rem;
  margin-left:18vw;
cursor: pointer;
}
